:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gris-claro: #dfe9f3; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}


h1{                  
    font-size: 3.8rem;
  }
  h2{
    font-size: 2.8rem;
  }
  h3{
    font-size: 1.8rem;
  }
 
  h1,h2,h3{
    text-align: center;
  }
  img{
    width: 100%;
  }

.nav-bg{
    background-color: var(--oscuro);
 }

 .Navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 .Navegacion-principal a{
   color: var(--blanco);
   text-decoration: none;
   font-size: 1.1rem;
   font-weight: 700; /*lo pone en negritas style que descargamos 400y700*/
   padding: .5rem;
 }

 #agris{
   color: var(--gris);
 }

 a img{
  width: 180px;
 }


 .contenedorImgs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
 }

 .contenedorImgs h2,
 .contenedorImgs h4{
  color: var(--blanco);
 }

 .imgs img{
  width: 200px;
  margin:0 auto;
 }

 #car{
  width:280px;
 }

 .imgs{
  text-align: center;
 }

 .columna{
    flex: 1 1 0px;
    height: calc(100vh - (55.7167px + 40.3167px));
    background-size: cover;
    background-repeat: no-repeat;
    display:grid;
    grid-template-rows: 1fr 1fr;
    background-position: 50%;
    align-items: center;
    transition:all;
    transition-duration: 1s;
 }

 #disable1, 
 #disable2,
 #disable3{
  text-align: center;
  display: none;
 }


#c1:hover {
  transform-origin: left;
  transform: scaleX(1.2);
}
#c2:hover {
  transform: scaleX(1.2);
}
#c3:hover{
  transform-origin: right;
  transform: scaleX(1.2);
}

#c1:hover #disable1,
#c2:hover #disable2,
#c3:hover #disable3{
 display:block;
}

#c1:hover #titulo1,
#c2:hover #titulo2,
#c3:hover #titulo3{
 transform:translateY(-100px);
}



#c1:hover #car{
  transform-origin: center;
  transform: scaleX(1.6) scaleY(1.6);
}

#c2:hover #mt{
  transform-origin: center;
  transform: scaleX(1.3) scaleY(1.3);
}

#c3:hover #mot{
  transform-origin: center;
  transform: scaleX(1.3) scaleY(1.5);
}



.footer{
    background-color: var(--oscuro);
    padding: .8rem;

}
.footer p{
    font-size: .8rem;
    color: var(--blanco);
}

@media (max-width: 1024px) {

  .contenedorImgs{
    flex-direction: column;
  }
  .columna{
    flex-basis: auto;
    
  }
  #c1:hover,
  #c2:hover,
  #c3:hover,
  #c1:hover #titulo1,
  #c2:hover #titulo2,
  #c3:hover #titulo3,
  #c1:hover #car,
  #c2:hover #mt,
  #c3:hover #mot,
  #c1:hover #disable1,
  #c2:hover #disable2,
  #c3:hover #disable3{
    transform: none;
    transition: none;
  }

  #car{
    width: 500px;
    margin: 0 auto;
  }

  #mt,
  #mot{
    width: 300px;
  }

  #disable1,
  #disable2,
  #disable3{
    display: block;
  }
}

@media (max-width: 640px) {
  .Navegacion-principal{
    flex-direction: column;
  }
}

